:root {
  --white: #ffffff;
  --main-bg: #F5F5F7;
  --secondary-bg: #FFF3EB;
  --bg-correct: #E6FAEA;
  --bg-wrong: #FDEEED;
  --border: #D0D0D8;
  --border-correct: #47D867;
  --primary-btn: #FF8B37;
  --hover-btn: #FFAC70;
  --active-btn: #E87928;
  --main-text:  #1C1C21;
}
